@import "../css/util/_all.scss";
// Default Height of Elements


// Default items per page
$itemsPerPage: 5;

// Padding around Carosel Main
$padding: 50px;

// Item Zoom Multiplier
$multiplier: 1.60;



// Calculates the size of each item
$itemWidthUncalculated: (100vw / $itemsPerPage);
$itemWidth: $itemWidthUncalculated - #{($padding * 2) / $itemsPerPage + 8px};
$itemHeight: (56vw / $itemsPerPage);


// Height on Hover:
$hoverHeight: $itemHeight * $multiplier;
$hoverWidth: $itemWidthUncalculated * $multiplier;

$offsetTrans: ($hoverHeight - $itemHeight) /2;

.carousel-container {
  position: relative;
  height: $hoverHeight;


  h2 {
    padding-left: $padding;
    text-align: left;
    transform: translateY($offsetTrans);
    color: #fff;
  }

  .carousel {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    z-index: 1;
    color: #fff;
    padding-top: $offsetTrans;
    position: relative;

  }


  //TODO: Fix Dynamic height to match all resolutions.
  button.left, button.right {
    background: rgba(0,0,0,0.6);
    color: #dedede;
    font-weight: bold;
    border: 0;
    position: absolute;
    width: $padding;
    height: $itemHeight;
    z-index: 10;
    left:0;
    top: 10.45vh;
    //top: $itemHeight - 32px;
    cursor: pointer;


    &.left {

    }

    &.right {
      left: auto;
      right:0;
    }

  }


}


