@import "../css/util/_all.scss";
// Default Height of Elements

// Padding around Carosel Main
$padding: 50px;
$zoom: 1.6;

$defaultItemsPerPage: 5;
$mdItemsPerPage: 3;
$smItemsPerPage: 1;

// Calculates the size of each item
@function calc-item-width($items-per-page) {
  @return (100vw / $items-per-page);
}

@function calc-item-padded-width($items-per-page, $padding) {
  @return calc-item-width($items-per-page) - #{($padding * 2) / $items-per-page + 8px};
}

@function calc-item-height($items-per-page) {
  @return (56vw / $items-per-page);
}

// Hover Size Functions
@function calc-hover-height($items-per-page, $zoom) {
  @return calc-item-height($items-per-page) * $zoom;
}

@function calc-hover-width($items-per-page, $zoom) {
  @return calc-item-width($items-per-page) * $zoom;
}


@function calc-element-offset($items-per-page) {
  @return (calc-item-height($items-per-page) - calc-item-height($items-per-page)) / 2;
}

@function wrapper($function, $wrapper: false) {

  @if $wrapper != false {
    @return  '#{wrapper}(' + $function + ')';
  } @else {
    @return  $function;
  }


}


@mixin calculated-keys($key, $function, $variable: false, $wrapper: false) {

  @if $variable == false {
    #{$key}: call(get-function($function), $defaultItemsPerPage);

    @include viewports(medium large) {
      #{$key}: call($function, $mdItemsPerPage);
    }

    @include viewports(up-to small) {
      #{$key}: call($function, $smItemsPerPage);
    }
  } @else {
      #{$key}: call(get-function($function), $defaultItemsPerPage, $variable);

      @include viewports(medium large) {
        #{$key}: call($function, $mdItemsPerPage, $variable);
      }

      @include viewports(up-to small) {
        #{$key}: call($function, $smItemsPerPage, $variable);
      }
  }

}





.carousel-container {
  position: relative;

  @include calculated-keys('height', 'calc-item-height');

  h2 {
    padding-left: $padding;
    text-align: left;
    color: #fff;

    //TODO: Modify code to allow this to work with the caluclated keys mixin
    transform: translateY(calc-element-offset($defaultItemsPerPage));

    @include viewports(up-to small) {
      transform: translateY(calc-element-offset($smItemsPerPage));
    }
    @include viewports(medium large) {
      transform: translateY(calc-element-offset($mdItemsPerPage));
    }

  }

  .carousel {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 1;
    color: #fff;
    position: relative;

    @include calculated-keys('padding-top', 'calc-element-offset');


  }


  //TODO: Fix Dynamic height to match all resolutions.
  button.left, button.right {
    background: rgba(0,0,0,0.6);
    color: #dedede;
    font-weight: bold;
    border: 0;
    position: absolute;
    width: $padding;

    z-index: 10;
    left:0;
    top: 10.45vh;
    //top: $itemHeight - 32px;
    cursor: pointer;

    @include calculated-keys('height', 'calc-item-height');



    &.left {

    }

    &.right {
      left: auto;
      right:0;
    }

  }


}


