
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  line-height: 28px;
  position: fixed;
  z-index: 100;
  margin: auto;
  padding: 20px 20px;
  font-size: 15px;

  background-color: transparent;
  transition: background-color 0.3s;

  &.scrolled {
    background-color: #141414;
    transition: background-color 0.35s;
  }


}
