
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  line-height: 21px;
  position: fixed;
  z-index: 100;
  background: #141414;
  margin: auto;
  padding: 20px 20px;
  font-size: 15px;

}
