@import "Carousel.scss";

.search-results {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1d1d1d;
  position: fixed;
  top:0;
  left:0;
  color: #fff;
  z-index: -1;
  padding-top: 100px;
  overflow-y: auto;
  padding-left: 60px;


  .results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;

    .carousel-item {
      margin-bottom: 60px;

      &:first-of-type {
        padding-left: 0px;
      }

    }

  }

}
