@import "../../css/util/_all.scss";


.test-container{
  button {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}


.test-container {
  background-color: $black;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  color: $white;



  .test-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    div {
      padding: 20px;

      a {
        color: $white;

      }

    }

  }


  .sub-container {

    .container {
      background-color: darken($black, 3.5%);
      padding: 30px 20px;
      margin: 10px 0;

      h2 {
        margin: 0 0 15px 0;
      }

      .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

    }



    .color-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      div {
        padding: 20px;
        border-bottom: $grey-border;
      }

      .color {
        height: 5vw;
        width: 5vw;

      }

      .color-text {
          color: $grey;
        font-size: 1.0em;
      }

      .color-var {
          span {
            color: darken($grey, 10%);
            font-size: 0.75em;
          }
      }

    }


  }

}
