// File to define default site colors.

$white: #fff;
$red: #c1071e;
$green: green;
$grey: #dedede;
$grey-border:  #8f8f8f;
$dark: #43465e;
$darker: #131834;

$black: #221f1f;

$hollow: tranparant;
$hollow-hover: rgba(17, 17, 17, 0.67);
