@import "../../css/util/_all.scss";
// Default Height of Elements


.carousel-page-container {
  right:0;
  transform: translateY(-15px) translateX(-60px);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: absolute;

  .page-item {

    width: 20px;
    height: 5px;
    border-radius: 3px;
    background-color: $grey;
    opacity: 0.3;
    margin-right: 3px;

    &.selected {
      color: $white;
      opacity: 0.9;
    }

  }


}