@import '../../css/util/_all.scss';
@import "../../containers/Carousel.scss";

$time: .45s;


@mixin itemSize($items-per-page, $padding) {
  min-width: calc(#{calc-item-padded-width($items-per-page, $padding)});
  width: calc(#{calc-item-padded-width($items-per-page, $padding)});
  min-height: calc(#{calc-item-height($items-per-page)});
  height: calc(#{calc-item-height($items-per-page)});

}



  .carousel-item {

    @include viewports(up-to tiny) {
      @include itemSize(1, $padding);
    }
    @include viewports(above tiny) {
        @include itemSize(3, $padding);
    }
    @include viewports(above medium) {
      @include itemSize(5, $padding);
    }

    margin-right: 6px;
    border: 1px solid $dark;
    border-radius: 2px;
    transform: translateY(0);
    transition-delay: 1.2s;
    transition: min-width $time, min-height $time, transform $time ease-out ;
    cursor: pointer;

    display: flex;

    &:first-of-type {
      margin-left: $padding;
    }

    .text {
      opacity: 0;
      padding: 15px 30px;
      transition: opacity ease-out;
    }

    // BG Shade
    &:before {
      @include pseudo();
      width: 100%;
      height: 100%;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.81) 99%, rgba(0, 0, 0, 0.82) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      opacity: 0;
      transition: opacity $time ease-in 0.6s;
      z-index: -1;
    }


    &:hover, &.selected {

      @include calculated-keys('min-width','calc-hover-width', $zoom);
      @include calculated-keys('min-height','calc-hover-height', $zoom);

      transform: translateY(- calc-element-offset($defaultItemsPerPage));
      transition:
                  min-width  0.1s,
                  min-height 0.1s,
                  transform 0.2s,
                  ease-in 0.3s;


      //&:nth-of-type(5n) {
      //  transform: translateX(-200px) translateY(-$offsetTrans);
      //}


      // BG Shade
      &:before {
        opacity: 1;
        transition: opacity $time ease-in 0.6s;
      }


      .expandButton {
        @include pseudo();
        opacity: 1;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        width: 30px;
        height: 30px;
        transform: rotate(45deg) skewY(-15deg) skewX(-15deg);
        margin: 0 auto;
        left: calc(50% - 15px);
        bottom: 15px;
        position: absolute;
        transition: opacity $time ease-in 0.6s;

        &:hover {
          border-right: 3px solid $red;
          border-bottom: 3px solid $red;
        }

      }

      .text {
        opacity: 1;
        transition-delay: 1s;
        transition: all 0.2s ease-in 0.88s;
        height: calc(100% - 60px);

        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: flex-end;

        .title {
          font-weight: bold;
          font-size: 20px;
          }

        .rating {
          font-size: 20px;
        }

        .overview {
          font-size: 14px;
        }
      }
    }

    .title {
      font-weight: bold;
      text-align: left;

    }

    // Selected Item

    &:after {
      @include pseudo();
      opacity: 0;
      border-right:0;
      border-bottom: 0;
      background: #fff;
      width: 15px;
      height: 15px;
      transform: rotate(45deg)  skewY(-15deg) skewX(-15deg);
      margin: 0 auto;
      left: calc(50% - 5px);
      bottom: -10px;
      position: absolute;
      background: linear-gradient(319deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,0) 52%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      transition: opacity $time ease-in 0.1s;
    }


    &.selected {
      border: 3px solid $white;
      .expandButton {
        opacity: 0;
      }
      &:after {
        opacity: 1;
        transition: opacity $time ease-in 0.35s;
      }
    }

  }

