@import '../../css/util/mixins.scss';
@import "../../containers/Carousel.scss";


.carousel-item-info {
  width: 100vw;
  height: 65vh;
  background: #000;
  z-index: 0;
  animation-name: itemInfoExpand;
  animation-duration: 0.4s;
  position: relative;
  top: -12.6vh;

  color: #fff;
  text-align: left;

  padding-left: $padding;

.content-wrapper {
  background: linear-gradient(90deg, rgba(0,0,0,1) 3%,rgba(0,0,0,1) 30%,rgba(0,0,0,0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 100%;
  width: 100vw;
  .content {
    height: 100%;
    width: 40vw;
    text-shadow: none;
    h3 {
      font-size: 3em;
      margin:0;
      padding-top: 75px;
      width: 40vw;
    }

    p.overview {
      color: #b9b7b7;
      font-size: 1.35em;
      text-shadow: none;
    }

    .stats {
      display: flex;
      flex-direction: row;
      font-size: 1.35em;
      text-shadow: none;

      span {
        padding: 5px 20px 5px 0px;
        font-weight: bold;
        &.vote {
          color: #2b802c;
          font-weight: bold;
        }

        &.rating {
          border: 1px solid #fff;
          padding: 5px 10px;
        }

        &.seasons {
          padding-left: 20px;
        }

      }
    }

    .actions {
      position: relative;

      button {
        border:0;
        padding: 15px 25px;
        color: #fff;
        font-weight: bold;
        font-size: 1.15em;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          transform: scale(1.03);
        }

        &.list {
          background-color: transparent;
          border: 1px solid #8f8f8f;
          padding: 14px 24px;
          &:hover {
            background-color: rgba(17, 17, 17, 0.67);

          }
        }

        &.play {
          background-color: red;
          margin-right: 20px;
        }
      }
    }

  }

}


  .view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    color: #8f8f8f;
    transform: translateY(-62px);
    text-shadow: none;
    font-weight: bold; cursor: pointer;

    font-size: 1.25em;
    a {
      margin: 15px 50px;
      padding-bottom:12px;
      color: #8f8f8f;
      text-decoration: none;

      border-bottom: 8px solid #fff;



      &.active {

        border-bottom: 8px solid red;

      }

    }


  }

}


@keyframes itemInfoExpand {
  from {
    left:50%;
    height: 0;
    width: 100px;
  }
  to {
    left:0%;
    height: 500px;
    width: 100vw;
    }
}
