.carousel-item-info {
  width: 100vw;
  height: 500px;
  background: #000;
  top: 205px;
  position: absolute;
  z-index: -1;
  animation-name: itemInfoExpand;
  animation-duration: 0.4s;
}


@keyframes itemInfoExpand {
  from {
    left:50%;
    height: 0;
    width: 100px;
  }
  to {
    left:0%;
    height: 500px;
    width: 100vw;
    }
}
